body {
  font-family: 'Darker Grotesque', sans-serif;
  background-color: #f0f0f0;
  color: #000;
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 700px;
  width: 100%;
  text-align: center;
}

h1 {
  font-weight: 800;
  font-size: 48px;
  margin-bottom: 40px;
  color: #222;
}

ol {
  text-align: left;
  padding-left: 20px;
  font-size: 20px;
}

li {
  margin-bottom: 25px;
}

ul {
  margin-top: 10px;
  padding-left: 20px;
  font-size: 18px;
  list-style-type: disc;
}

.video-wrapper {
  text-align: center;
  margin: 30px 0;
}
      
.concert-photos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
    flex-wrap: wrap;
}
      
.concert-photos img {
    width: 30%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}
      
@media (max-width: 768px) {
  .concert-photos img {
    width: 100%;
    }
}

.concert-photos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
    flex-wrap: wrap;
}
    
.concert-photos img {
    width: 30%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}
    
@media (max-width: 768px) {
    .concert-photos img {
        width: 100%;
    }
}

.concert-photos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
    flex-wrap: wrap;
}
    
.concert-photos img {
    width: 30%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}
    
@media (max-width: 768px) {
  .concert-photos img {
    width: 100%;
  }
}


.tableauPlaceholder iframe {
  max-width: 100%;
  height: 600px;
  border: none;
}

html {
  scroll-behavior: smooth;
}

/* Navigation menu style */
.anchor-nav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.anchor-nav li {
  display: inline-block;
  margin: 0 15px;
}

.anchor-nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.anchor-nav a:hover {
  color: #ff4081; /* highlight color on hover */
}

/* Optional spacing between menu and content */
header {
  margin-bottom: 30px;
}

header {
  position: sticky;
  top: 0;
  background-color: #f0f0f0;
  padding: 15px 0;
  z-index: 1000;
}

.bottom-nav {
  text-align: center;
  margin-top: 60px;
  padding: 20px 0;
}

.bottom-nav a {
  font-size: 25px;
  text-decoration: none;
  color: #ff4081;
  font-weight: bold;
  transition: color 0.3s ease;
}

.bottom-nav a:hover {
  color: pink;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
